body {
	margin: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Alternative coloring for each section */

section:nth-child(2n) {
	background-color: #ffffe0;
	color: #e28796;
}

section:nth-child(2n + 1) {
	background-color: #ffd4db;
	color: #b585d1;
}

section {
	width: 100%;
	padding-bottom: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Heading style for each section */

.section-heading {
	width: auto;
	padding: 20px 10px 75px;
	margin: 0px auto;
	font-weight: 400;
}

.section-heading span {
	font-size: 40px;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}

/* Color for placeholder */

::placeholder {
	color: #939681;
}

:-ms-input-placeholder {
	color: #939681;
}

::-ms-input-placeholder {
	color: #939681;
}

/* Body header */

#body-header {
	height: 65vh;
	opacity: 0.8;
	background-image: url(image/macbook_mouse.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* Class for centering text */

.text-center {
	text-align: center;
}

/* Horizontal list or horizontal-list */

.horizontal-list {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.horizontal-list li {
	display: inline-block;
	padding: 20px 0px;
	margin: 0px 4px;
}

.horizontal-list li a {
	text-decoration: none;
	color: #eff1db;
}

/* Navbar specific conditions */

.navbar li a {
	transition: color 0.5s, text-decoration 0.5s;
}

.navbar li a:hover {
	text-decoration: underline;
	color: lightsteelblue;
}

/* Page Header */

.page-header {
	color: #eff1db;
	margin-top: 100px;
	margin-left: 0px;
	margin-bottom: 0px;
	font-size: 3.5em;
	letter-spacing: 0.1rem;
	font-weight: 700;
}

/* Contact icons */

.contact-icons li a i {
	padding: 0.5rem;
	font-size: 1.2rem;
	border-radius: 100%;
}

.contact-icons li a i:hover {
	box-shadow: 0px 0px 4px 6px rgb(230, 196, 196, 0.3);
}

/* About section */

#about {
	height: auto;
	width: 100%;
	position: relative;
}

#about img {
	border-radius: 50%;
	border: 0.25rem solid lightgray;
	box-shadow: 0px 0px 6px 4px gray;
	width: 16rem;
	height: 16rem;
	margin-top: -17vh;
	margin-bottom: 2.5rem;
}

@media screen and (max-width: 768px) {
	#body-header {
		height: 70vh;
	}
}

#about p {
	width: 70%;
	margin: 0 auto;
	font-size: 1.25rem;
	text-align: left;
	letter-spacing: 0.1rem;
}

/* Skills section */

.skills-list {
	width: 70%;
	/* height: 100px;
	border: 2px solid black; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.skills-content {
	width: 26%;
	background-color: gray;
	margin: 10px;
	height: 40px;
	font-size: larger;
	color: white;
	border-radius: 20px;
}

@media screen and (max-width: 768px) {
	.skills-content {
		width: 45%;
	}
}

@media screen and (max-width: 564px) {
	.skills-content {
		width: 80%;
	}
}

.skill-style {
	border-radius: 20px 0px 0px 20px;
	height: inherit;
	padding-left: 0.5rem;
	display: flex;
	align-items: center;
}

.seventy-five-percent {
	width: 75%;
	background-color: #bd97cb;
}

.eighty-percent {
	width: 80%;
	background-color: #e56997;
}

.sixty-percent {
	width: 60%;
	background-color: #66d2d6;
}

.fifty-percent {
	width: 50%;
	background-color: #fbc740;
}

/* Education Section */

.education {
	width: 70%;
	position: relative;
}

.education-box {
	position: relative;
	margin: 5px;
	width: 40%;
	min-height: 150px;
}

.education-box:nth-child(2n + 1) {
	left: 5%;
}

.education-box:nth-child(2n) {
	left: 54%;
}

.education-box:nth-child(2n + 1)::after {
	content: '';
	position: absolute;
	top: 30%;
	left: 110.5%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: rgb(121, 118, 118);
	z-index: 1;
}

.education-box:nth-child(2n)::after {
	content: '';
	position: absolute;
	top: 30%;
	left: -12%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: rgb(121, 118, 118);
	z-index: 1;
}

.education-box > p {
	color: darkslategray;
}

.education-divider {
	position: absolute;
	width: 0;
	top: 10%;
	left: 50%;
	height: 80%;
	border: 0.5px dashed rgb(121, 118, 118);
}

.education-traveller {
	position: sticky;
	top: 30%;
	color: black;
	font-size: 2rem;
	left: 50%;
	transform: rotate(90deg);
	z-index: 2;
}

@media screen and (max-width: 768px) {
	.education-divider {
		left: 10%;
	}

	.education-box:nth-child(n) {
		width: 70%;
		left: 20%;
		text-align: right;
	}

	.education-box:nth-child(n)::after {
		content: '';
		left: -16.5%;
	}
}

/* Portfolio Section */

#portfolio-container {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	width: 70%;
	justify-content: space-evenly;
}

.portfolio-image-container {
	max-width: 350px;
	overflow: hidden;
	margin: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	box-shadow: 0px 6px 6px gray;
}

.portfolio-image-container img {
	width: 100%;
	height: 100%;
}

.portfolio-details {
	transition: all 0.5s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	color: transparent;
	text-align: center;
	padding: 10px;
}

.portfolio-image-container:hover {
	box-shadow: 0 0 0;
}

.portfolio-image-container:hover .portfolio-details {
	background-color: #80808078;
	color: white;
	overflow: auto;
}

/* Contact section */

#contact {
	background-color: #a4508b;
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

#contact h1,
#contact h1 span {
	color: #eff1db;
}

#contact-container {
	display: flex;
	justify-content: space-between;
	width: 70%;
}

#my-details-container {
	width: 43%;
}

#my-details-container h3 {
	color: #eff1db;
	font-weight: 550;
	font-size: 1.2rem;
}

#contact-form-container {
	width: 43%;
}

#my-details-container p {
	color: #d9dcdd;
	font-size: 0.9rem;
}

.my-details-info-container {
	margin-bottom: 20px;
	color: #d9dcdd;
	font-size: 1rem;
}

.my-details-info-container span {
	margin-left: 0.4rem;
}

.my-details-info-container i {
	color: #eff1db;
}

.my-details-icon {
	width: 1rem;
	height: 1rem;
	vertical-align: bottom;
	margin-right: 0.5rem;
}

#contact-form input,
textarea {
	max-width: 90%;
	margin: 15px;
	padding: 4px 10px;
	border: 0px solid transparent;
	border-bottom: 2px solid #eff1db;
	color: #eaedee;
	background: transparent;
	width: 90%;
	line-height: 1.6;
	font-size: 1.05rem;
}

#contact-form button[type='submit'] {
	background: transparent;
	font-size: 0.95rem;
	border: 2px solid #eff1db;
	margin-top: 5%;
	margin-left: 35%;
	border-radius: 2px;
	color: #eff1db;
	font-family: sans-serif;
	font-weight: 700;
	letter-spacing: 0.046875em;
	line-height: 1;
	padding: 0.8em 0.8em 0.78em;
	text-transform: uppercase;
}

#contact-form button:hover {
	background: #eff1db;
	color: #a4508b;
}

#contact .social-icons li a i {
	font-size: 1.2rem;
	margin: 40px 10px 10px;
	padding: 10px 14px 20px 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

@media screen and (max-width: 768px) {
	#my-details-container {
		width: 100%;
	}
	#contact-form-container {
		width: 100%;
		padding-bottom: 1.5rem;
	}
	#contact-container {
		flex-wrap: wrap;
		justify-content: center;
	}
}
